body {
  font-family: 'Poppins', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #E6E6FA;
}

.header {
  background-color: #673ab7;
  padding: 40px 20px;
  color: white;
  text-align: center;
}

.main-title {
  margin: 0;
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.description {
  margin-top: 10px;
  font-size: 1.2em;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.book-card {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.book-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.book-title {
  color: #673ab7;
  margin-bottom: 10px;
  font-weight: 600;
}

.book-card p {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.book-card p i {
  margin-right: 5px;
}

.award-section {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 10px;
}

.award-section p strong {
  color: #673ab7;
}

.fas {
  color: #673ab7;
}
