<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Book Awards List</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <header class="header">
    <h1 class="main-title">{{filterAward}}</h1>
    <p class="description"> {{descriptionAward}} </p>
  </header>
  <div class="container">
    <div class="book-list">
      <div *ngFor="let book of books" class="book-card">
        <h2 class="book-title"><i class="fas fa-book"></i> {{book.title}}</h2>
        <p>
          <i class="fas fa-user"></i> 
          <ng-container *ngFor="let author of book.authors; let i = index">
            <span>{{author}}</span>
            <span *ngIf="i < book.authors.length - 1">, </span>
            <span *ngIf="i === book.authors.length - 1">&nbsp;</span>
          </ng-container>
        </p>
        <p *ngIf="book.publisher">
          <i class="fas fa-building"></i> {{book.publisher}}
        </p>
        <p>
          <i class="fas fa-globe"></i> {{book.inLanguage}}
        </p>
        <p *ngIf="book.illustrator && book.illustrator.length > 0">
          <i class="fas fa-paint-brush"></i>
          <ng-container *ngFor="let illustrator of book.illustrator; let i = index">
            <span (click)="navigateToIllustrator(illustrator)">{{ illustrator }}</span>
            <span *ngIf="i < book.illustrator.length - 1">, </span>
            <span *ngIf="i === book.illustrator.length - 1">&nbsp;</span>
          </ng-container>
        </p>
        <p *ngIf="book.countryOfOrigin">
          <i class="fas fa-flag"></i> {{ book.countryOfOrigin }}
        </p>
        <div class="award-section" *ngFor="let award of book.awards">
          <p>
            <i class="fas fa-trophy"></i> {{award.name}} ({{award.year}})
          </p>
          <p>
            <strong>Genre:</strong> {{award.genre}}
          </p>
          <p *ngIf="award.ageRange && award.ageRange.length > 0">
            <strong>Age:</strong> {{award.ageRange.join(', ')}}
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
