<div class="page">
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>

  <div class="container">
    <div class="author-information">
      <h2 class="author-name">
        <i class="fas fa-user"></i> 
        {{authorData?.personLabel}}
      </h2>
      <ul>
<div class="page">
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>

  <div class="container">
    <div class="author-information">
      <h2 class="author-name">
        <i class="fas fa-user"></i> 
        {{authorData?.['personLabel']}}
      </h2>
      <ul>
        <li *ngIf="authorData?.['dateOfBirth']">
          <i class="fas fa-birthday-cake"></i> 
          {{authorData?.['dateOfBirth']}}
        </li>
        <li *ngIf="authorData?.['placeOfBirthLabel']">
          <i class="fas fa-map-marker-alt"></i> 
          {{authorData?.['placeOfBirthLabel']}}
        </li>
        <li *ngIf="authorData?.['occupationLabel']">
          <i class="fas fa-briefcase"></i> 
          {{authorData?.['occupationLabel']}}
        </li>
        <li *ngIf="authorData?.['countryOfCitizenshipLabel']">
          <i class="fas fa-flag"></i> 
          {{authorData?.['countryOfCitizenshipLabel']}}
        </li>
        <li *ngIf="authorData?.['educationLabel']">
          <i class="fas fa-graduation-cap"></i> 
          {{authorData?.['educationLabel']}}
        </li>
        <li *ngIf="authorData?.['genderLabel']">
          <i class="fas fa-venus-mars"></i> 
          {{authorData?.['genderLabel']}}
        </li>
        <li *ngIf="authorData?.['languageSpokenLabel']">
          <i class="fas fa-globe"></i> 
          {{authorData?.['languageSpokenLabel']}}
        </li>
        <li *ngIf="authorData?.['awardReceivedLabel']">
          <i class="fas fa-trophy"></i> 
          {{authorData?.['awardReceivedLabel']}}
        </li>
        <li *ngIf="authorData?.['notableWorkLabel']">
          <i class="fas fa-book"></i> 
          {{authorData?.['notableWorkLabel']}}
        </li>
        <li *ngIf="authorData?.['website']">
          <i class="fas fa-globe-europe"></i> 
          <a href="{{authorData?.['website']}}">{{authorData?.['website']}}</a>
        </li>
        <li *ngIf="authorData?.['wikidataLink']">
          <i class="fab fa-wikipedia-w"></i> 
          <a href="{{authorData?.['wikidataLink']}}">{{authorData?.['wikidataLink']}}</a>
        </li>
        <li *ngIf="authorData?.['babelioAuthorID']">
          <i class="fas fa-link"></i> 
          <a [href]="generateBabelioLink()">Babelio Link</a>
        </li>  
      </ul>
    </div>
    
    <div class="book-list">
      <div *ngFor="let book of books" class="book-card">
        <h2 class="book-title">
          <i class="fas fa-book"></i> 
          {{book.title}}
        </h2>
        <p>
          <i class="fas fa-user"></i> 
          <ng-container *ngFor="let author of book.authorList; let i = index">
            <span>{{author}}</span>
            <span *ngIf="i < book.authorList.length - 1">,</span>
            <span *ngIf="i === book.authorList.length - 1">&nbsp;</span>
          </ng-container>
        </p>
        <p *ngIf="book.publisher">
          <i class="fas fa-building"></i> 
          {{book.publisher}}
        </p>
        <p>
          <i class="fas fa-globe"></i> 
          {{book.inLanguage}}
        </p>
        <p *ngIf="book.illustrator && book.illustrator.length > 0">
          <i class="fas fa-paint-brush"></i>
          <ng-container *ngFor="let illustrator of book.illustrator; let i = index">
            <!-- <span (click)="navigateToIllustrator(illustrator)">{{ illustrator }}</span> -->
            <span *ngIf="i < book.illustrator.length - 1">,</span>
            <span *ngIf="i === book.illustrator.length - 1">&nbsp;</span>
          </ng-container>
        </p>
        <p *ngIf="book.countryOfOrigin">
          <i class="fas fa-flag"></i> {{ book.countryOfOrigin }}
        </p>
        <div class="award-section" *ngFor="let award of book.awards">
          <p>
            <i class="fas fa-trophy"></i> 
            {{award.name}} ({{award.year}})
          </p>
          <p>
            <strong>Genre:</strong> 
            {{award.genre}}
          </p>
          <p *ngIf="award.ageRange && award.ageRange.length > 0">
            <strong>Age:</strong> 
            {{award.ageRange.join(', ')}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
