html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: #888;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1 {
  font-size: 3em;
  color: black;
  text-align: center;
  margin-top: 20px;
}

h2 {
  font-size: 2em;
  color: black;
  text-align: left;
  margin-top: 10px;
}

.page{
  background-color:  #E6E6FA;
  min-height: 100vh; 
}

.vertical-stack {
  display: block;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
}

.search-section {
  display: block;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
  background-color: #FFFFFF;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.search-section .fas.fa-lg {
  margin: auto;
  padding: 10px;
  font-size: 20px;
  color: #9370DB;  /* Light purple color */
  text-align: center;
}

.search-section .filter-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.search-section .filter-input:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  transform: scale(1.01);
}

.search-section .filter-input:focus {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
  gap: 10px;
  position: relative;
  width: 100%;
}

.search-bar,
.filter-input,
.search-bar-author {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.fas {
  color: #5c6bc0;
}

.search-button {
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #5c6bc0;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.book-card {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.book-card:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}

.book-title {
  font-size: 24px;
  color: #5c6bc0;
  margin-bottom: 15px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.book-title:hover {
  text-decoration: underline;
  color: #3f51b5;
}

.book-card p {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.book-card p i {
  margin-right: 5px;
}

.award-section {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 10px;
}

.award-name {
  cursor: pointer;
  transition: all 0.3s ease;
}

.award-name:hover {
  color: #9370DB;
  text-decoration: underline;
}

.award-name i {
  color: #9370DB;
  margin-right: 5px;
}

.autocomplete-items {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 1;
  margin-top: -1px; /* Add this line */
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.publisher-info {
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 5px; /* Optional: Adds a bit of space around the text */
}

.publisher-info:hover {
  color: #9370DB;  /* Changes text color when hovering */
  text-decoration: underline;
}

.publisher-info:active {
  color: #3f51b5; /* Changes text color when clicking */
  background-color: #ddd; /* Changes background color when clicking */
}

.publisher-info i {
  color: #9370DB;
  margin-right: 5px;
}

.autocomplete-items div:hover,
.autocomplete-items div.active {
  background-color: #ddd;
}

/* Adjust the margin for autocomplete items */
.search-container .autocomplete-items {
  margin-top: -1px;
}



.autocomplete-items div:hover,
.autocomplete-items div.active {
  background-color: #ddd;
}

span {
  cursor: pointer;
  transition: all 0.3s ease;
}

span:hover {
  color: #9370DB;
  text-decoration: underline;
}

span i {
  color: #9370DB;
  margin-right: 5px;
}


.book-card span:hover {
  color: #5c6bc0;
  cursor: pointer;
}

.book-card span.selected {
  color: #5c6bc0;
}

.search-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: #FFFFFF; /* White background */
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Consistent shadow */
}

.search-review select, .search-review button {
  padding: 10px 15px;
  border: 1px solid #ddd; /* Light grey border */
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  width: 100%;
  max-width: 300px; /* Adjust the width as needed */
  background-color: white; /* White background for inputs */
}

.search-review button {
  background-color: #5c6bc0; /* Consistent button color */
  color: white;
  border: none;
  transition: background-color 0.3s;
}

.search-item {
  /* display: flex; */
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
  gap: 10px;
  position: relative;
  width: 100%;

}

.search-review button:hover {
  background-color: #3f51b5; /* Darker shade on hover */
}

/* Dropdown Menu Styles for Search Review */
.search-review select {
  background-color: white;
}

/* Responsive adjustments for Search Review */
@media (max-width: 600px) {
  .search-review {
    flex-direction: column;
    gap: 10px;
  }

  .search-review select, .search-review button {
    width: 100%;
    max-width: none;
  }
}

/* Style adjustments for autocomplete items in Search Review */
.search-review .autocomplete-items div:hover,
.search-review .autocomplete-items div.active {
  background-color: #ddd; /* Light grey for hover and active states */
}

.reviews-section {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #eee;
}

.reviews-section h3 {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
}

.reviews-section ul {
  list-style-type: none;
  padding: 0;
}

.reviews-section li {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.review-content {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 5px;
}

.review-author {
  font-size: 0.85em;
  color: #888;
  margin-bottom: 5px;
}

.review-date {
  font-size: 0.8em;
  color: #aaa;
  margin-bottom: 5px;
}

.review-rating, .review-average, .review-thumbs-up, .review-avis, .review-source {
  font-size: 0.8em;
  color: #666;
  margin-bottom: 5px;
}

.review-link {
  color: #007bff;
  text-decoration: none;
  font-size: 0.85em;
}

.review-link:hover {
  text-decoration: underline;
}

.education-levels {
  font-family: Arial, sans-serif;
  margin-left: 10px;
  border: 1px solid #9370DB;
  border-radius: 10px;
  background-color: #F4F1FD;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(147, 112, 219, 0.4);
  display: inline-block;
}

.education-levels table {
  width: 100%;
  border-collapse: collapse;
}

.education-levels th, .education-levels td {
  padding: 8px;
  text-align: center;
  border: 1px solid #9370DB;
}

.education-levels th {
  background-color: #E6E0F8;
  color: #9370DB;
  font-weight: bold;
}

.education-levels td {
  background-color: #FFFFFF;
  vertical-align: top; 
}

.education-levels input[type="checkbox"] {
  accent-color: #9370DB;
  margin-right: 5px;
}

.education-levels label {
  color: #9370DB;
  cursor: pointer;
  display: inline-block;
  margin-left: 4px;
}

.theme-search {
  display: flex;
  flex-direction: column;  /* Align children vertically */
  align-items: center;     /* Center-align the items */
  margin-top: 20px;        /* Adds space at the top of the search bar */
  width: 100%;             /* Full width to contain the button and input properly */
}

.search-input {
  padding: 10px;
  font-size: 16px;         /* Larger font size for better readability */
  border: 2px solid #9370DB; /* Blue border color */
  border-radius: 5px;      /* Rounded corners for the input field */
  width: 300px;            /* Specifies a fixed width for the input */
  margin-bottom: 8px;      /* Adds space between the input and the button */
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;         /* Matches the input font size */
  background-color: #9370DB; /* Blue background to stand out */
  color: white;            /* White text color */
  border: none;
  border-radius: 5px;      /* Rounded corners for the button */
  cursor: pointer;         /* Pointer cursor on hover */
  width: 316px;            /* Slightly larger width to cover the input padding and borders */
}

.search-button:hover {
  background-color: #9370DB; /* Darker blue on hover for better interaction */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .education-levels {
      width: auto;
      display: block;
  }
}
