/* Import shared styles */
@import '../shared/styles/shared-components.css';

.page {
  background-color: #E6E6FA; /* Restore the original lavender background color */
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
  color: #333;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #333;
}
  
  body::-webkit-scrollbar {
    width: 5px;
  }
  
  body::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
