<div class="page">
    <head>
        <title>BookFinder Scolaire</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </head>

    <body>
        <div class="container">
            <header class="main-header">
                <h1>Navigateur multisource jeunesse</h1>
                <div class="nav-links">
                    <a routerLink="/saved-books" class="nav-link">
                        <i class="fas fa-bookmark"></i> Mes livres sauvegardés
                    </a>
                </div>
            </header>      
            <app-enhanced-search></app-enhanced-search>
            <app-book-list></app-book-list>
        </div>
    </body>

</div>
