.page{
    background-color:  #E6E6FA;
    min-height: 100vh; 
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
}
  
  body::-webkit-scrollbar {
    width: 5px;
  }
  
  body::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background: #555;
  }