/* General Styles */
h2 {
  font-size: 2em;
  color: black;
  text-align: left;
  margin-top: 10px;
}

.fas {
  color: #5c6bc0;
}

/* Utility Class */
.vertical-stack {
  display: block;
  width: 100%;
}

/* Search Section Styles */
.search-section {
  display: block;
  gap: 20px;
  align-items: center;
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.search-section .fas.fa-lg {
  margin: auto;
  padding: 10px;
  font-size: 20px;
  color: #9370db;
  text-align: center;
}

.search-section .filter-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.search-section .filter-input:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  transform: scale(1.01);
}

.search-section .filter-input:focus {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

/* Search Container Styles */
.search-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
  gap: 10px;
  position: relative;
  width: 100%;
}

.search-bar,
.filter-input,
.search-bar-author {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
}

/* Autocomplete Styles */
.autocomplete-items {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 1;
  margin-top: -1px;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.autocomplete-items div:hover,
.autocomplete-items div.active {
  background-color: #ddd;
}

/* Publisher Info Styles */
.publisher-info {
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 5px;
}

.publisher-info:hover {
  color: #9370db;
  text-decoration: underline;
}

.publisher-info:active {
  color: #3f51b5;
  background-color: #ddd;
}

.publisher-info i {
  color: #9370db;
  margin-right: 5px;
}

/* Span Styles */
span {
  cursor: pointer;
  transition: all 0.3s ease;
}

span:hover {
  color: #9370db;
  text-decoration: underline;
}

span i {
  color: #9370db;
  margin-right: 5px;
}

/* Search Review Styles */
.search-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.search-review select,
.search-review button {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  width: 100%;
  max-width: 300px;
  background-color: white;
}

.search-review button {
  background-color: #5c6bc0;
  color: white;
  border: none;
  transition: background-color 0.3s;
}

.search-review button:hover {
  background-color: #3f51b5;
}

/* Search Item Styles */
.search-item {
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
  gap: 10px;
  position: relative;
  width: 100%;
}

/* Dropdown Menu Styles for Search Review */
.search-review select {
  background-color: white;
}

/* Style adjustments for autocomplete items in Search Review */
.search-review .autocomplete-items div:hover,
.search-review .autocomplete-items div.active {
  background-color: #ddd;
}

/* Education Levels Styles */
.education-levels {
  font-family: Arial, sans-serif;
  margin-left: 10px;
  border: 1px solid #9370db;
  border-radius: 10px;
  background-color: #f4f1fd;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(147, 112, 219, 0.4);
  display: inline-block;
}

.education-levels table {
  width: 100%;
  border-collapse: collapse;
}

.education-levels th,
.education-levels td {
  padding: 8px;
  text-align: center;
  border: 1px solid #9370db;
}

.education-levels th {
  background-color: #e6e0f8;
  color: #9370db;
  font-weight: bold;
}

.education-levels td {
  background-color: #fff;
  vertical-align: top;
}

.education-levels input[type="checkbox"] {
  accent-color: #9370db;
  margin-right: 5px;
}

.education-levels label {
  color: #9370db;
  cursor: pointer;
  display: inline-block;
  margin-left: 4px;
}

/* Theme Search Styles */
.theme-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.theme-search .search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #9370db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 316px;
}

.theme-search .search-button:hover {
  background-color: #9370db;
}

.theme-search .search-input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #9370db;
  border-radius: 5px;
  width: 300px;
  margin-bottom: 8px;
}

/* General Button Styles */
.search-button {
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #5c6bc0;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .search-review {
    flex-direction: column;
    gap: 10px;
  }

  .search-review select,
  .search-review button {
    width: 100%;
    max-width: none;
  }
}

@media (max-width: 768px) {
  .education-levels {
    width: auto;
    display: block;
  }
}
